<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="webMonitorConfig" type="WebMonitorService.Objects.WebMonitorServiceConfigurationSection, WebMonitorService, Version=1.0.0.0" requirePermission="false" />
  </configSections>
  <webMonitorConfig
  timerElapseInMS="60000"
  emailServer="smtp2.dean.com"
  maxResponseDurationThresholdInMS ="5000"
  emailFromAddress="noreply@dean.com"
  summaryEmailSubject="Summary Report for WebMonitor Service"
  errorEmailSubject="Unexpectant errors from WebMonitor Service">
    <urls>
      <add url="http://services.dean.com/Email/MessageService.svc"/>
      <add url="https://www.google.com/" />
      <add url="https://yahoo.com/"/>
    </urls>
    <emails>
      <add address="deansouthern@gmail.com" />
    </emails>
    <errorCodes>
      <add code="501" />
      <add code="503"/>
    </errorCodes>
  </webMonitorConfig>
</configuration>